<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cryptoflow">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/splash"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CryptoFlow">
        <activity
            android:name=".webview.NewsView"
            android:exported="false" />
        <activity
            android:name=".mainui.CoinDetails"
            android:exported="false" />
        <activity
            android:name=".auth.SignIn"
            android:exported="false" />
        <activity
            android:name=".auth.SignUp"
            android:exported="false" />
        <activity
            android:name=".mainui.AppInfo"
            android:exported="true" />
        <activity
            android:name=".mainui.SettingsActivity"
            android:exported="true" />
        <activity
            android:name=".mainui.NewsActivity"
            android:exported="true" />
        <activity
            android:name=".mainui.ListActivity"
            android:exported="true" />
        <activity
            android:name=".mainui.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>